.wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('espresso.webp');
    background-size: auto;
    gap: 40px;
    padding: 20px;
    align-items: center;
    font-size: 20px;
    color: #010101;
}

.wrapFeedbackOption {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    background-color: rgba(164, 244, 244, 0.5);
    border-radius: 15px;
}